
@{
    ViewData["Title"] = "Cadastro de Produto";
}

<h1>Cadastro de Produto</h1>

<form asp-action="cadastrar">
    
    
    

    <input type="submit" value="Cadastrar" class="btn btn-primary" />
</form>>

